body {
    text-align: center;
    position: relative;
    top: 15em;
    background-color: rgb(83, 81, 81);
}

h1 {
    color: #fff;
    font-size: 70px;  
}

button {
    width: 5.5em;
    height: 2.5em;
    margin: 0 5px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button#iniciar-btn {
    background-color: greenyellow;
}

button#pause-btn {
    background-color: rgb(196, 83, 83);
}

button#restaura-btn {
    background-color: rgb(226, 226, 112);
}
